@import "./base";
.home {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 40vw;
  padding: 1rem 0rem;

  @media only screen and (max-width: 1000px) {
    width: 100%;
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
    justify-content: start;
  }

  &_container {
    width: 100%;
    &-accordion {
      width: 40vw;

      &-summary {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        &-img {
          height: 50px;
          width: 50px;
          font-size: 10px;
          border-radius: 50%;
          border: 1px solid rgb(185, 184, 184);
        }
      }
    }
  }
}
